<p>
  Formulario de Registro
</p>

<form>

  <label>Nombre:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.nombre" name="nombre">
  
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido">

  <button type="button" (click)="registroUsuario(usuarioRegistro)">Guardar</button>

</form>

<p>{{usuarioRegistro.nombre}} {{usuarioRegistro.apellido}} </p>

<ul *ngFor="let usuario of listaUsuarios">
  <li>{{usuario.nombre}} {{usuario.apellido}} </li>
</ul>

